  <section class="pb-50 brand-main" th:fragment="BrandLogo">
    <div class="container">
      <div class="row brand">
        <div class="col-md-12">
          <div id="brand-logo" class="owl-carousel align_center">
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand1.jpg}" alt="#"></a></div>
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand2.jpg}" alt="#"></a></div>
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand3.jpg}" alt="#"></a></div>
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand4.jpg}" alt="#"></a></div>
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand5.jpg}" alt="#"></a></div>
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand6.jpg}" alt="#"></a></div>
            <div class="item"><a href="#"><img th:src="@{/assets/images/brand7.jpg}" alt="#"></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>