<section class="sub-banner-block" th:fragment="contain"> 
    <div id="sub-banner-main" class="owl-carousel">
      <div class="item">
        <div class="sub-banner">
          <div class="sub-img">
            <a href="shop.html">
              <img th:src="@{/assets/images/sub-banner1.jpg}" alt="Tizzy">
            </a>
          </div>
          <div class="sub-desc">
            <div class="sub-desc-inner">
              <button class="btn btn-color small">
                <a href="shop.html">Most Popular</a>
              </button>
              <div class="sub-title">Sale for Men</div>
              <div class="sub-subtitle">Shop for the latest items</div>
            </div>  
          </div>
        </div>
      </div>
      <div class="item">
        <div class="sub-banner">
          <div class="sub-img">
            <a href="shop.html">
              <img th:src="@{/assets/images/sub-banner2.jpg}" alt="Tizzy">
            </a>
          </div>
          <div class="sub-desc">
            <div class="sub-desc-inner">
              <button class="btn btn-color small">
                <a href="shop.html">Watch Sale</a>
              </button>
              <div class="sub-title">Upto 60% off</div>
              <div class="sub-subtitle"> huge range of designer watches</div>
            </div>  
          </div>
        </div>
      </div>
      <div class="item">
        <div class="sub-banner">
          <div class="sub-img">
            <a href="shop.html">
              <img th:src="@{/assets/images/sub-banner3.jpg}" alt="Tizzy">
            </a>
          </div>
          <div class="sub-desc">
            <div class="sub-desc-inner">
              <button class="btn btn-color small">
                <a href="shop.html">Organize</a>
              </button>
              <div class="sub-title">Creative Time</div>
              <div class="sub-subtitle">Click here</div>
            </div>  
          </div>
        </div>
      </div>
      <div class="item">
        <div class="sub-banner">
          <div class="sub-img">
            <a href="shop.html">
              <img th:src="@{/assets/images/sub-banner4.jpg}" alt="Tizzy">
            </a>
          </div>
          <div class="sub-desc">
            <div class="sub-desc-inner">
              <button class="btn btn-color small">
                <a href="shop.html">Hot Styles</a>
              </button>
              <div class="sub-title">Discount on watch</div>
              <div class="sub-subtitle">for Men, Women & Kids.</div>
            </div>  
          </div>
        </div>
      </div>
      <div class="item">
        <div class="sub-banner">
          <div class="sub-img">
            <a href="shop.html">
              <img th:src="@{/assets/images/sub-banner1.jpg}" alt="Tizzy">
            </a>
          </div>
          <div class="sub-desc">
            <div class="sub-desc-inner">
              <button class="btn btn-color small">
                <a href="shop.html">Most Popular</a>
              </button>
              <div class="sub-title">Sale for Men</div>
              <div class="sub-subtitle">Shop for the latest items</div>
            </div>  
          </div>
        </div>
      </div>
      <div class="item">
        <div class="sub-banner">
          <div class="sub-img">
            <a href="shop.html">
              <img src="images/sub-banner2.jpg" alt="Tizzy">
            </a>
          </div>
          <div class="sub-desc">
            <div class="sub-desc-inner">
              <button class="btn btn-color small">
                <a href="shop.html">Watch Sale</a>
              </button>
              <div class="sub-title">Upto 60% off</div>
              <div class="sub-subtitle"> huge range of designer watches</div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>