<div id="newslater-popup" class="mfp-hide white-popup-block open" th:fragment="header">
  <div class="nl-popup-main">
    <div class="nl-popup-inner">
      <div class="row">
        <div class="col-sm-6 col-xs-6 nl-xs-full-width">
          <div class="newsletter-inner">
            <h2 class="main_title">20% <span> off </span></h2>
            <div class="popup-desc">
              <span>Sign up and get 20% off your</span>
              <span>Next Order</span>
            </div>
            <form>
              <input type="email" placeholder="Email Here...">
              <button class="btn-black" title="Subscribe">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 nl-xs-zero-width"></div>
      </div>
    </div>
  </div>
</div>