<section class="pb-95 blog" th:fragment="LastestNew">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="heading-part mb-40">
            <h2 class="main_title">Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row home-blog-item m-0">
        <div class="item">
          <div class="blog-item">
            <div class="blog-media">
              <a href="single-blog.html"><img th:src="@{/assets/images/blog_img1.jpg}" alt="Tizzy"></a>
            </div>
            <div class="blog-detail">
              <div class="blog-detail-inner">
                <div class="blog-contant">
                  <a href="single-blog.html">
                    <h3>Lorem Ipsum Tizzy</h3>
                  </a>
                  <div class="blog-desc">
                    <a href="single-blog.html">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="hidden-sm hidden-xs"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too ...</span>
                    </a>
                  </div>
                  <div class="post-info">
                      <ul>
                        <li class="post-date"><a href="#">11/3/2017</a></li>
                        <li class="post-comment"><a href="#">(5) comments</a></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-item">
            <div class="blog-media">
              <a href="single-blog.html"><img th:src="@{/assets/images/blog_img2.jpg}" alt="Tizzy"></a>
            </div>
            <div class="blog-detail">
              <div class="blog-detail-inner">
                <div class="blog-contant">
                  <a href="single-blog.html">
                  <h3>Lorem Ipsum Tizzy</h3>
                </a>
                <div class="blog-desc">
                  <a href="single-blog.html">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="hidden-sm hidden-xs"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too ...</span>
                  </a>
                </div>
                <div class="post-info">
                  <ul>
                    <li class="post-date"><a href="#">11/3/2017</a></li>
                    <li class="post-comment"><a href="#">(5) comments</a></li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-item">
            <div class="blog-media">
              <a href="single-blog.html"><img th:src="@{/assets/images/blog_img3.jpg}" alt="Tizzy"></a>
            </div>
            <div class="blog-detail">
              <div class="blog-detail-inner">
                <div class="blog-contant">
                  <a href="single-blog.html">
                  <h3>Lorem Ipsum Tizzy</h3>
                </a>
                <div class="blog-desc">
                  <a href="single-blog.html">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="hidden-sm hidden-xs"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too ...</span>
                  </a>
                </div>
                <div class="post-info">
                  <ul>
                    <li class="post-date"><a href="#">11/3/2017</a></li>
                    <li class="post-comment"><a href="#">(5) comments</a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-item">
            <div class="blog-media">
              <a href="single-blog.html"><img th:src="@{/assets/images/blog_img4.jpg}" alt="Tizzy"></a>
            </div>
            <div class="blog-detail">
              <div class="blog-detail-inner">
                <div class="blog-contant">
                  <a href="single-blog.html">
                  <h3>Lorem Ipsum Tizzy</h3>
                  </a>
                  <div class="blog-desc">
                    <a href="single-blog.html">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="hidden-sm hidden-xs"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too ...</span>
                    </a>
                  </div>
                  <div class="post-info">
                    <ul>
                      <li class="post-date"><a href="#">11/3/2017</a></li>
                      <li class="post-comment"><a href="#">(5) comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>