  <section class="client-main container align-center ptb-95" th:fragment="ClientMain">
    <div class="client-inner">
      <div id="client" class="owl-carousel">
        <div class="item client-detail">
          <div class="client-img"> <img th:src="@{/assets/images/testimonial_img1.jpg}" alt="Tizzy"> </div>
          <h4 class="client-title">Wed Censtoriya</h4>
          <p>make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was make a type specimen book. It has survived not only five centuries.</p>
          <h4 class="sub-title">Wed.Censtoriya@gmail.com</h4>
        </div>
        <div class="item client-detail">
          <div class="client-img"> <img th:src="@{/assets/images/testimonial_img2.jpg}" alt="Tizzy"> </div>
          <h4 class="client-title">Wed Censtoriya</h4>
          <p>make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was make a type specimen book. It has survived not only five centuries.</p>
          <h4 class="sub-title">Wed.Censtoriya@gmail.com</h4>
        </div>
        <div class="item client-detail">
          <div class="client-img"> <img th:src="@{/assets/images/testimonial_img3.jpg}" alt="Tizzy"> </div>
          <h4 class="client-title">Wed Censtoriya</h4>
          <p>make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was make a type specimen book. It has survived not only five centuries.</p>
          <h4 class="sub-title">Wed.Censtoriya@gmail.com</h4>
        </div>
      </div>
    </div>
  </section>