 <div class="footer dark-bg" th:fragment="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-middle">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 f-col">
              <div class="footer-static-block"> <span class="opener plus"></span>
                <h3 class="title">Services</h3>
                <ul class="footer-block-contant link">
                  <li><a><span>■</span> About Us</a></li>
                  <li><a><span>■</span> Jobs</a></li>
                  <li><a><span>■</span> Affiliates</a></li>
                  <li><a><span>■</span> Contact</a></li>
                  <li><a><span>■</span> Jobs</a></li>
                  <li><a><span>■</span> Affiliates</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 align-center">
              <div class="footer-static-block"> <span class="opener plus"></span>
                <h3 class="title hidden-lg hidden-md">Tizzy</h3>
                <div class="footer-block-contant">  
                  <div class="f-logo hidden-xs hidden-sm"> <a href="index-2.html" class=""> <img th:src="@{/assets/images/footer-logo.png}" alt="Tizzy"> </a> </div>
                  <p>Aenean dapibusMorbi dictum orci non vehicula sollicitudin. Sed auctor dui nibh, id elementum dolor dictum et. Nulla eu purus</p>
                </div>
              </div>
              <div class="footer-static-block"> <span class="opener plus"></span>
                <h3 class="title hidden-lg hidden-md">Newsletter</h3>
                <div class="newsletter footer-block-contant">
                   <form>
                      <div class="newsletter-inner">
                        <input type="email" placeholder="Sign up for Newsletter">
                        <button title="Subscribe">Subscribe</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 f-col">
              <div class="footer-static-block f-address"> <span class="opener plus"></span>
                <h3 class="title">Contact Us</h3>
                <div class=""> <!-- <span class="opener plus"></span> -->
                <ul class="footer-block-contant address-footer">
                  <li class="item">
                    <p>150-A Appolo aprtment, opp. Hopewell Junction, Allen st Road, new york-405001.</p>
                  </li>
                  <li class="item">
                    <p> <a>infoservices@Tizzy.com </a> </p>
                  </li>
                  <li class="item">
                    <p>(+91) 9834567890</p>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="footer-bottom mb-30">
          <div class="row">
            <div class="col-md-4 col-sm-12 center-sm">
              <div class="payment left-side float-none-sm float-none-xs center-xs">
                <ul class="payment_icon">
                  <li class="discover"><a></a></li>
                  <li class="visa"><a></a></li>
                  <li class="mastro"><a></a></li>
                  <li class="paypal"><a></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 center-sm">
              <div class="copy-right center-xs">© 2017  All Rights Reserved. Design By <a href="#">Webcotheme</a></div>
            </div>
            <div class="col-md-4 col-sm-12 center-sm">
              <div class="footer_social pt-xs-15 right-side float-none-xs float-none-sm center-xs mt-xs-15">
                <ul class="social-icon">
                  <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
                  <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
                  <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
                  <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
                  <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="footer-bottom mt-30">
          <div class="site-link align-center">
            <ul>
              <li><a>Cycling</a>/</li>
              <li><a>Running</a>/</li>
              <li><a>Swimming</a>/</li>
              <li><a>Football</a>/</li>
              <li><a>Golf</a>/</li>
              <li><a>Tools</a>/</li>
              <li><a>Bedding</a>/</li>
              <li><a>Food</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-top">
    <div id="scrollup"></div>
  </div>