<head th:fragment="head">
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Tizzy Index</title>
<!-- SEO Meta
  ================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="distribution" content="global">
<meta name="revisit-after" content="2 Days">
<meta name="robots" content="ALL">
<meta name="rating" content="8 YEARS">
<meta name="Language" content="en-us">
<meta name="GOOGLEBOT" content="NOARCHIVE">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
  ================================================== -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/fotorama.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">
<link rel="shortcut icon" th:href="@{/assets/css/images/favicon.html}">
<link rel="apple-touch-icon" th:href="@{/assets/css/images/apple-touch-icon.html}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{/assets/css/images/apple-touch-icon-72x72.html}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{/assets/css/images/apple-touch-icon-114x114.html}">
</head>