 <section class="ptb-95 align-center" th:fragment="NewProduct">
    <div class="container">
      <div class="product-slider">
        <div class="row">
          <div class="col-xs-12">
            <div class="heading-part mb-40">
              <h2 class="main_title">New Products</h2>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="product-main position-r">
            <div class="four-products">
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <!-- <div class="sale-label"><span>Sale</span></div> -->
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/1.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/2.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/3.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/4.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="four-products">
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <!-- <div class="sale-label"><span>Sale</span></div> -->
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/5.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/6.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/7.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 p-0">
                <div class="product-item mb-16">
                  <div class="product-image"> <a href="product-page.html"> <img th:src="@{/assets/images/8.jpg}" alt=""> </a>
                    <div class="product-detail-inner">
                      <div class="detail-inner-left left-side">
                        <ul>
                          <li class="pro-cart-icon">
                            <form>
                              <button title="Add to Cart"></button>
                            </form>
                          </li>
                          <li class="pro-wishlist-icon"><a href="#"></a></li>
                          <li class="pro-compare-icon"><a href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="product-item-details">
                    <div class="rating-summary-block">
                      <div title="53%" class="rating-result"> <span style="width:53%"></span> </div>
                    </div>
                    <div class="product-item-name"> <a href="#">Defyant Reversible Dot Shorts</a> </div>
                    <div class="price-box"> <span class="price">$80.00</span> <del class="price old-price">$100.00</del> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="loadmore-products align-center mt-30">
        <a href="shop.html"> <button class="btn btn-black big">See More Products</button> </a>
      </div>
    </div>
  </section>